<div class="container">
    <div id="row" class="row">
        <div class="col bg-light shadow rounded">
            <div class="text-center">
                <h4 class="text-muted m-4"><kbd style="font-family:'Courier New', Courier, monospace;">404</kbd><span style="font-family: 'Courier New', Courier, monospace;"> - Page Not Found!</span></h4>
                <div class="img m-4">
                    <img class="rounded shadow-lg img-thumbnail" src="https://res.cloudinary.com/dpkcwayz1/image/upload/v1579384569/sitedata/404/img/404_leqxfl.gif" alt="animated" width="300" />
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <h4 class="text-muted m-4 text-center" style="width: 65%; font-family: 'Courier New', Courier, monospace;">We searched everywhere but couldn't find it! Please head back <a href="/" class="text-decoration-none"><kbd>home</kbd></a> before you get lost!</h4>
            </div>
        </div>
    </div>
</div>
<br>