<div class="col-md-8 rounded shadow bg-light" style="padding: 15px;">
    <a href="/gamestart/?game_id={{gameId}}" id="btn" class="btn rounded-pill btn-primary w-25 text-white">Start</a>
    <img src="{{img}}" class="w-100 imgS border rounded" alt="...">
</div>