<div id="gamecenter" class="col-md-8 shadow rounded bg-light">
        <input id="game_id" type="text" value="{{gameId}}" hidden>
        <div class="container">
            <br>
            <h4 id="quizName" class="text-center text-secondary">{{ques}}</h4>
            <hr class="w-50">
            <br>
                {{!-- <div id="quesDiv" class="text-center font-weight-light text-secondary mt-3"></div> --}}
                <div class="text-center">
                    <div class="img">
                        <img id="quesDiv" class="rounded shadow-lg img-thumbnail" src="" alt="image" width="150" height="150" />
                    </div>
                </div>
            <br> <br>
            <div class="row">
                <div id="opd-a" class="ans bg-light col-4 shadow rounded offset-2 mr-3 p-3"><span
                        class="p-2 rounded bg-success text-white">A</span><small class="options"
                        id="option-a"></small></div>
                <div id="opd-b" class="ans bg-light col-4 shadow rounded p-3"><span
                        class="p-2 rounded bg-danger text-white">B</span><small class="options"
                        id="option-b"></small></div>
            </div>
            <br>
            <div class="row">
                <div id="opd-c" class="ans bg-light col-4 shadow rounded offset-2 mr-3 p-3"><span
                        class="p-2 rounded bg-warning text-white d-inline">C</span><small class="options"
                        id="option-c"></small></div>
                <div id="opd-d" class="ans bg-light col-4 shadow rounded p-3"><span
                        class="p-2 rounded bg-info text-white">D</span><small class="options"
                        id="option-d"></small></div>
            </div>
        </div>
    </div>
    <div style="display:none" id="resultcenter" class="col-md-8 shadow rounded bg-light">
        <div class="container"><br>
            <h3 class="text-center text-secondary mb-4"><strong>Your Result!</strong></h3>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                        role="tab" aria-controls="nav-home" aria-selected="true">Score</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                        role="tab" aria-controls="nav-profile" aria-selected="false">Leaderboard</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                    aria-labelledby="nav-home-tab">
                    <div style="position: relative;">
                        <div class="bond-container">
                            <div class="semi-a"></div>
                            <div class="semi-b"></div>
                            <div class="semi-c"></div>
                            <div class="semi-data">
                                <h1 id="percent">50%</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="container mt-3">
                        <table class="table table-hover table-dark rounded">
                            <thead>
                                <tr>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mukhtar</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Alfred</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Amrit</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div class="text-secondary mt-3"><strong>Did you like the game?</strong></div>
                <a href="#" data-toggle="modal" data-target="#exampleModal"
                    class="btn btn-danger w-50 mt-2 text-white">Create your own
                    challenge</a></div>
        </div>
    </div>