<div class="col-md-8 rounded shadow bg-light">
     <div class="container mt-3">
         <h3 class="text-center mb-2 text-secondary font-weight-bold">Leaderboards</h3>
                        <table class="table table-hover table-dark rounded">
                            <thead>
                                <tr>
                                    <th scope="col">Rank</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mukhtar</td>
                                    <td>14</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Alfred</td>
                                    <td>12</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Amrit</td>
                                    <td>10</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <small class="text-center text-scondary font-weight-bold">Want to top the Leaderboard?</small>
                        <a href="/" class="btn btn-success">Click here</a>
                    </div>
            </div>
