body {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    overflow-x: hidden;
    height: 100vh!important;
}

.navbar {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

#input {
    height: 33px;
    border-style: none;
}

.fa-search {
    position: absolute;
    z-index: 1;
    left: 90%;
    cursor: pointer;
}

::placeholder {
    font-weight: lighter;
}

.dropdown {
    cursor: pointer;
    margin-left: 35%;
}

#homeBtn {
    text-decoration: none;
    color:white;
    transition: 0.2s;
}

.navImg {
    height: 25px;
    width: 25px;
}

#row {
    height: 50%;
}

.imgS {
    height: 100%!important;
}

#btn {
    position: absolute;
    z-index: 1;
    margin-left: 35%;
    margin-top: 50%;
}

.adImg {
    height: 30%;
    width: 100%;
}

#gamecenter {
    margin-right: 10px;
}

#resultcenter {
    margin-right: 10px;
}

.linkDiv {
    border: dashed 1px grey;
}

.shareLink {
    font-size: small;
    color: grey;
}

#uniqueLink {
    border: solid 1px black;
}

#shareBtns {
    position: relative;
    left: 30%;
}

.btn-fb:hover {
    color: white;
}

.btn-tw:hover {
    color: white;
}

.btn-fb {
    background: #3B5998;
    color: rgb(224, 224, 224);
}

.btn-tw {
    background: #55ACEE;
    color: rgb(224, 224, 224);
}

.options {
    font-weight: bolder;
    color: grey;
    position: relative;
    left: 20%;
}

.ans {
    cursor: pointer;
}

.ans:hover {
    border: solid 2px rgb(7, 182, 7);
}

.Slogin{
    position: relative;
    left: 23%;
}

.sBtn {
    padding: 10px;
    font-size: 20px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    border: 2px solid blanchedalmond;
    border-radius: 50%;
    filter: brightness(80%);
}

.sBtn:hover {
    opacity: 0.5;
    transition: all 0.4s;
    text-decoration: none!important;
    color: white!important;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-google {
    color: white;
}

.ul2 {
    list-style: none;
    color: blanchedalmond;
    font-weight: bold;
} 

.footer {
    height: 30%;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}


.dark-mode {
    background-image: linear-gradient(to left, #434343 0%, black 100%);
  }

/* toggle button to dark mode */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    top: 5px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 17px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: black
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* Bond meter code Dont delete */

.bond-container {
    width: 400px;
    height: 200px;
    position: relative;
    top: 5%;
    left: 40%;
    overflow: hidden;
    text-align: center;
    transform: translate(-33.33%, 0);
}

.semi-a {
    z-index: 1;
    position: absolute;
    background-color: rgba(255, 255, 255, .2);
    width: 400px;
    height: 200px;
    top: 0;
    border-radius: 250px 250px 0px 0px;
}

.semi-b {
    z-index: 3;
    position: absolute;
    background-color: #222;
    width: 250px;
    height: 125px;
    top: 75px;
    margin-left: 75px;
    margin-right: auto;
    border-radius: 250px 250px 0px 0px;
}

.semi-c {
    z-index: 2;
    position: absolute;
    background-color: #5664F9;
    width: 400px;
    height: 200px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 200px 200px;
    transform-origin: center top;
    transition: all 3s ease-in-out;
}


/* Dont need this. Can delete
 .bond-container:active .semi-c {
    transform: rotate(.5turn);
} */


/* .bond-meter-loaded .semi-c {
    transform: rotate(.5turn);
} */


/* Bond meter code Dont delete */

.bond-container:hover .semi-data {
    color: rgba(255, 255, 255, 1);
}

.semi-data {
    z-index: 4;
    color: rgba(255, 255, 255, .2);
    font-size: 1.5em;
    line-height: 25px;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 90px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s ease-out;
}


/*
#shareBtns {
    transform: translate(0, 300%);
} */


/* @keyframes rotate {
    0% {
        background: red;
    }
    25% {
        background: blue;
    }
    50% {
        background: yellow;
    }
    75% {
        background: green;
    }
    100% {
        background: red;
    }
} */
