body {
    background-image: linear-gradient(to left, #434343 0%, black 100%);
}

.navbar {
    background-image: linear-gradient(to left, #d7d2cc 0%, #304352 100%);
}

#input {
    height: 33px;
    border-style: none;
}

.fa-search {
    position: absolute;
    z-index: 1;
    left: 90%;
    cursor: pointer;
}

::placeholder{
    font-weight: lighter;
}

.dropdown {
    cursor: pointer;
    margin-left: 35%;
}

.navImg {
    height: 25px;
    width: 25px;
}

#row {
    height:50%;
}

.imgS {
    height: 100%!important;
}

#btn {
    position: absolute;
    z-index: 1;
    margin-left: 35%;
    margin-top: 50%;
}

.adImg {
    height: 30%;
    width: 100%;
}


#gamecenter {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    margin-right: 10px;
}

#resultcenter {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    margin-right: 10px;
}

li {
    background-color: transparent;
    border: transparent;
}

.linkDiv { 
    border: dashed 1px grey;
}

.shareLink {
    font-size: small;
    color: grey;
}

#uniqueLink {
    border: solid 1px black;
}

#shareBtns {
  position: relative;
  left: 30%;
  }

.btn-fb {
    background: #3B5998;
    color: white;
  }
  
  .btn-tw {
    background: #55ACEE;
    color: white;
  }

.options {
    font-weight: bolder;
    color: grey;
    position: relative;
    left: 20%;
}

.ans {
    cursor: pointer;
}

.ans:hover {
    border: solid 2px rgb(7, 182, 7);
}
