body {
    background-image: linear-gradient(to left, #434343 0%, black 100%);
    overflow: hidden;
}

.navbar {
    background-image: linear-gradient(to left, #d7d2cc 0%, #304352 100%);
}

#input {
    height: 33px;
    border-style: none;
}

::placeholder{
    font-weight: lighter;
}

.Fpass:hover {
    text-decoration: none;
    color:rgba(228, 42, 29, 0.945);
    transition: 0.4s;
}

.fa-search {
    position: absolute;
    z-index: 1;
    left: 90%;
    cursor: pointer;
}

.dropdown {
    cursor: pointer;
    left: 25%;
}

.navImg {
    height: 25px;
    width: 25px;
}

#row {
    height:500px;
}

.blackCon {
    background: black;
    filter: opacity(40%);
    height: 400px;
    position: absolute;
    z-index: 1;
}

.imgS {
    height: 400px;
}

.fa-play-circle-o {
    color: white;
    position: absolute;
    margin-left: 41%;
    margin-top: 13%;
    z-index: 3;
    font-size:200px;
    filter: opacity(70%);
    text-decoration: none;
    background:none;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all .2s ease-in-out; 
}

.fa-play-circle-o:hover {
    text-shadow: 7px 11px 15px rgba(117, 117, 117, 0.767);
    transform: scale(1.1); 
    }

ol li img{
    position: relative;
    bottom: 50px;
    height: 85px;
    width: 100%;
    transition: all .2s ease-in-out; 
}

ol li img:hover{
    transform: scale(1.1); 
}

.adImg {
    height: 30%;
    width: 100%;
}

