body {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    overflow-x: hidden;
    height: 120vh!important;
}

.navbar {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

#input {
    height: 33px;
    border-style: none;
}

::placeholder{
    font-weight: lighter;
}

.Fpass:hover {
    text-decoration: none;
    color:rgba(228, 42, 29, 0.945);
    transition: 0.4s;
}

.fa-search {
    position: absolute;
    z-index: 1;
    left: 90%;
    cursor: pointer;
}

.dropdown {
    cursor: pointer;
    left: 25%;
}

.navImg {
    height: 25px;
    width: 25px;
}

#row {
    height:500px;
}

.blackCon {
    background: black;
    filter: opacity(40%);
    height: 400px;
    position: absolute;
    z-index: 1;
}

.imgS {
    height: 370px;
}

.fa-play-circle-o {
    color: white;
    position: absolute;
    margin-left: 38%;
    margin-top: 13%;
    z-index: 3;
    font-size:200px;
    filter: opacity(70%);
    text-decoration: none;
    background:none;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all .2s ease-in-out; 
}

.fa-play-circle-o:hover {
    text-shadow: 7px 11px 15px rgba(117, 117, 117, 0.767);
    transform: scale(1.1); 
    }

ol li img{
    position: relative;
    bottom: 60px;
    height: 85px;
    width: 100%;
    transition: all .2s ease-in-out; 
}

ol li img:hover{
    transform: scale(1.1); 
}

.adImg {
    height: 30%;
    width: 100%;
}

.toast {
    position: absolute;
    z-index: 5;
    left: 50px;
    bottom:30px;
    background:rgb(75, 75, 75)
}

.Slogin{
    position: relative;
    left: 23%;
}

.sBtn {
    padding: 10px;
    font-size: 20px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    border: 2px solid blanchedalmond;
    border-radius: 50%;
    filter: brightness(80%);
}

.sBtn:hover {
    opacity: 0.5;
    transition: all 0.4s;
    text-decoration: none!important;
    color: white!important;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-google {
    color: white;
}

.ul2 {
    list-style: none;
    color: blanchedalmond;
    font-weight: bold;
} 

.footer {
    height: 30%;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

