body {
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    overflow-x: hidden;
    height: 100vh!important;
}

.navbar {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

#input {
    height: 33px;
    border-style: none;
}

.fa-search {
    position: absolute;
    z-index: 1;
    left: 90%;
    cursor: pointer;
}

::placeholder{
    font-weight: lighter;
}

.dropdown {
    cursor: pointer;
    left: 25%;
}

.navImg {
    height: 25px;
    width: 25px;
}