/* Profile Css */

#row {
    height: 70%;
}

.proCon {
    height: 55%;
    padding: 2%;
}

#EditBtn {
    position: relative;
    float: right;
}

#infoDiv {
    position: relative;
    right: 3%;
}

.fa {
    cursor: pointer;
}


/* #ConfirmBtn {
    position: relative;
    left: 30%;
} */

#editDP {
    position: absolute;
    z-index: 3;
    bottom: 10%;
    background-color: black;
    filter: opacity(60%);
    color: white;
    width: 250px;
    transition: 0.3s;
    cursor: pointer;
}

#editDP:hover {
    filter: opacity(100%);
}

.centerimg {
    height: 250px;
    width: 250px;
    object-fit: noner;
}

@media screen and (max-width: 600px) {
    /* Profile Css */
    body {
        overflow-x: hidden;
    }
    #row {
        height: 100%;
    }
    .proCon {
        height: 100%;
        padding: 2%;
    }
    #EditBtn {
        position: relative;
        float: right;
    }
    .fa {
        cursor: pointer;
    }
    #editDP {
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 5%;
        background-color: black;
        filter: opacity(60%);
        color: white;
        width: 90%;
        transition: 0.3s;
        cursor: pointer;
    }
    #h3 {
        position: relative;
        margin-left: 10px;
        left: 8%;
    }
    #editDP:hover {
        filter: opacity(100%);
    }
    .centerimg {
        height: 100%;
        width: 100%;
        object-fit: noner;
    }
    #infoDiv {
        position: relative;
        right: 0;
    }
    .SocialDiv {
        padding-left: 0;
        padding-right: 0;
    }
}


/* For new_password page */

.row {
    padding: 0;
}

@media screen and (max-width: 600px) {
    .w-50 {
        width: 100%!important;
        margin-left: 0!important;
    }
    .SloginDiv {
        padding-right: 10px;
        padding-left: 10px;
    }
    #inpBox {
        display: flex;
        flex-direction: column;
        margin: 0!important;
    }
    /* #ConfirmBtn {
        position: relative;
        left: 32%
    } */
}