body {
    background-image: linear-gradient(to left, #434343 0%, black 100%);
}

.navbar {
    background-image: linear-gradient(to left, #d7d2cc 0%, #304352 100%);
}

#input {
    height: 33px;
    border-style: none;
}

.fa-search {
    position: absolute;
    z-index: 1;
    left: 90%;
    cursor: pointer;
}

::placeholder{
    font-weight: lighter;
}

.dropdown {
    cursor: pointer;
    left: 25%;
}

.navImg {
    height: 25px;
    width: 25px;
}

#row {
    height:33rem!important;
}

.proCon {
    height: 65vh!important;
}

li {
    list-style: none;
    margin-bottom: 15px;
}

#editDP {
    position: absolute;
    z-index: 1;
    top: 50%;
    background-color: black;
    filter: opacity(60%);
    color: white;
    width: 250px;
    transition: 0.3s;
    cursor: pointer;
}

#editDP:hover {
    filter: opacity(100%);
}