body {
    background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
    overflow-x: hidden;
    height: 100%!important;
}

.navbar {
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

::placeholder {
    font-weight: lighter;
}

#myProgress {
    width: 100%;
    background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

#myBar {
    width: 0;
    height: 5px;
    background-color: rgba(255, 67, 67, 0.986);
}

.Fpass:hover {
    text-decoration: none;
    color: rgba(228, 42, 29, 0.945);
    transition: 0.4s;
}

#homeBtn {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.navImg {
    height: 30px;
    width: 30px;
    border: 2px solid white;
}

.dropdown-menu {
    left: auto;
    right: 0;
}

.Slogin {
    position: relative;
    left: 25%;
}

.sBtn {
    padding: 10px;
    font-size: 20px;
    width: 10%;
    text-align: center;
    text-decoration: none;
    margin: 5px 4px;
    border: 2px solid blanchedalmond;
    border-radius: 50%;
    filter: brightness(80%);
}

.sBtn:hover {
    opacity: 0.5;
    transition: all 0.4s;
    text-decoration: none!important;
    color: white!important;
}

.fa-facebook {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-google {
    color: white;
}

.ul2 {
    list-style: none;
    color: blanchedalmond;
    font-weight: bold;
}

.footer {
    height: 30%;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}


/* For responsive */

@media only screen and (max-width: 600px) {
    body {
        background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
        overflow-x: hidden;
        height: 100%!important;
    }
    #GameName {
        margin-left: 0!important;
    }
    #GameInfo {
        margin-left: 0!important;
    }
    #Rules {
        margin-left: 0!important;
    }
    .navbar {
        background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    }
     ::placeholder {
        font-weight: lighter;
    }
    #myProgress {
        width: 100%;
        background-color: linear-gradient(to top, #dfe9f3 0%, white 100%);
    }
    #myBar {
        width: 0;
        height: 5px;
        background-color: rgba(255, 67, 67, 0.986);
    }
    .Fpass:hover {
        text-decoration: none;
        color: rgba(228, 42, 29, 0.945);
        transition: 0.4s;
    }
    #homeBtn {
        text-decoration: none;
        color: white;
        transition: 0.2s;
    }
    .navImg {
        height: 30px;
        width: 30px;
    }
    .Slogin {
        position: relative;
        left: 8%;
    }
    .SloginDiv {
        padding-right: 10px;
        padding-left: 10px;
    }
    .sBtn {
        padding: 6px;
        font-size: 13px;
        width: 25%;
        text-align: center;
        text-decoration: none;
        margin: 2px 4px;
        border: 2px solid blanchedalmond;
        border-radius: 50%;
        filter: brightness(80%);
    }
    .sBtn:hover {
        opacity: 0.5;
        transition: all 0.4s;
        text-decoration: none!important;
        color: white!important;
    }
    .fa-facebook {
        color: white;
    }
    .fa-twitter {
        color: white;
    }
    .fa-google {
        color: white;
    }
    .ul2 {
        list-style: none;
        color: blanchedalmond;
        font-weight: bold;
    }
    .footer {
        height: 15%!important;
        background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    }
    .row {
        padding-right: 0;
        margin: 0%;
    }
}